:root {
    --branco: #f0f0f0;
    --preto: #0e0e0e;
    --cinza-escuro: #1c1c1c;
    --cinza-claro: #2e2e2e;
    --cinza-texto: #dcdcdc;
    --azul-claro: #4ea3ff;
    --destaque: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--preto);
    color: var(--branco);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--cinza-escuro);
    color: var(--destaque);
    height: 15vh;
    border-bottom: 3px solid var(--azul-claro);
    text-shadow: 2px 2px 2px black;
}

header i {
    font-size: 4rem;
}

header h1 {
    font-size: 3rem;
}

main {
    height: 80vh;
    background-color: var(--cinza-claro);
    display: flex;
}

form {
    margin: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid var(--azul-claro);
    background-color: var(--cinza-escuro);
    border-radius: 8px;
    padding: 20px;
    color: var(--branco);
    text-shadow: 1px 1px 1px black;
}

form h2, label, input {
    width: 100%;
}

form h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

form label {
    font-size: 1rem;
    margin-bottom: 5px;
}

form input {
    outline: none;
    border: 2px solid var(--azul-claro);
    border-radius: 5px;
    background-color: var(--cinza-claro);
    height: 40px;
    font-size: 1.2rem;
    padding: 5px 10px;
    color: var(--branco);
    font-weight: 600;
    margin-bottom: 25px;
    transition: background-color 0.5s, color 0.5s;
}

form input:focus {
    background-color: var(--branco);
    color: var(--preto);
}

input::placeholder {
    color: var(--cinza-texto);
}

form button {
    width: 100%;
    height: 40px;
    background-color: var(--azul-claro);
    color: var(--preto);
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

form button:hover {
    background-color: var(--destaque);
    color: var(--preto);
}
